.show {
    display:block;
}

.form {
    display: none;
}

h1 {
    text-align: center;
}

.bookCard {
    background-color: black;
    color:wheat;
    width:200px;
    height: 200px;
}

.bookCards {
    background-color: #ffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:50px;
}