body {
    font-family: monospace;
    color: #D92121;
}

.form {
    display: none;
}

h1 {
    text-align: center;
}

.bookCard {
    border: 2px solid black;
    color:#D92121;
    width:300px;
    height: 300px;
    padding: 10px;
    border-radius: 15px;
    font-size: 1em;
}

.bookCards {
    background-color: #ffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:50px;
}

.show {
    display: flex; 
    gap:20px;
    flex-direction: column;
    width: 200px;
    padding:20px;
    color: #D92121;
}

#submit {
    align-self: flex-start;
}

legend {
    text-align: center;
    font-weight: bolder;
}

.form-legend {
    font-size: 20px;
}

.status-legend {
    color: black;
}

button , #submit {
    color:white;
    background-color: black;
}

.btnCont {
    display: flex;
    gap: 50px;
    justify-content: center;
}