body {
    font-family: monospace;
    color: #D92121;
}

.form {
    display: none;
}

h1 {
    text-align: center;
}

.bookCard {
    background-color: black;
    color:wheat;
    width:200px;
    height: 200px;
}

.bookCards {
    background-color: #ffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:50px;
}

.show {
    display: flex; 
    gap:20px;
    flex-direction: column;
    width: 200px;
    padding:20px;
    color: #D92121;
}

#submit {
    align-self: flex-start;
}

legend {
    text-align: center;
    font-weight: bolder;
}

.form-legend {
    font-size: 20px;
}

.status-legend {
    color: black;
}

dialog::backdrop {
    background: #D92121;
    opacity:10%;
  }